<nav>
  <a href="/"><h1>ejs site</h1></a>
  <p>testing of view engine</p>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/create">Add new article</a></li>
  </ul>
</nav>
