<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>

    <main class="about">
      <h2>About page</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum necessitatibus distinctio, pariatur placeat at
        suscipit ex labore optio ducimus! Voluptate?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, tempora maxime distinctio vero excepturi fugiat?
      </p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, non!</p>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
