<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>

    <main class="about">
      <h2>About page</h2>
      <p>
        This is a testing blog page, development by
        <a href="https://www.linkedin.com/in/valerii-lozghachov" target="_blank">v.lozghachov</a>
      </p>
      <h3>Technology used</h3>
      <ul>
        <li>Node.js</li>
        <li>Express</li>
        <li>MongoDB</li>
        <li>ejs templates</li>
        <li>mongoose package</li>
        <li>morgan package</li>
        <li>nodemon</li>
        <li>MVC</li>
      </ul>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
